.card {
  width: 190px;
  height: 254px;
  border-radius: 30px;
  background: #212121;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
    -15px -15px 30px rgb(60, 60, 60);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}